// see all employee holidays in the next 3? month
.container.container-fullscreen.dc_shift_top.yui3-js-enabled.yui3-skin-sam
  div#companyform
    .row
      .span8.offset1
        div#modaldiv
        div#companyfields.control-domain
          h4 Anzeige der Urlaubszeiten
          label(for="practice") <b> Betriebsstätte: </b>
          select(name="practice")
            option alle
            option Betriebsstätte 1
            option Betriebsstätte 2
          label(for="doc") <b> Arzt: </b>
          select(name="doc")
            option alle
            option Arzt Hase
            option Arzt Faust