div#sourceModel
  div
    label(for="sinkName", data-bind="text: fileTypeI18n + ':'")
    p#sinkName(data-bind="text: name")
  div
    label(for="incomingPath", data-bind="text: incomingPathI18n + ':'")
    p#incomingPath(data-bind="text: incomingPath")
  div
    label(for="outgoingPath", data-bind="text: outgoingPathI18n + ':'")
    p#outgoingPath(data-bind="text: outgoingPath")
  div
    label(for="devices", data-bind="text: devicesI18n + ':'")
    p#devices(data-bind="text: devices")