h4(data-bind="text: headline")
hr
div.form-group(data-bind="css: { 'has-error': !newPasswordValid() }")
  input.form-control(name="newPassword", type="password",
  data-bind="value: newPassword, valueUpdate: 'afterkeydown', attr: { placeholder: newPWI18n }")
div.form-group(data-bind="css: { 'has-error': !newPasswordRepeatValid() }")
  input.form-control(name="newPasswordRepeat", type="password",
  data-bind="value: newPasswordRepeat, valueUpdate: 'afterkeydown', attr: { placeholder: newPWREI18n }")
div.progress
  div(role="progressbar", data-bind="style: { width: progressWidth }, attr: { 'class': progressCss }")