span.KoCounter(data-bind="attr: { title: title }, visible: visible")
  span.KoCounter-icon(data-bind="template: $data.icon.template")
  span.KoCounter-count(data-bind="template: $data.count.template")
