div#GdtModel
  div.form-group
    label(for="gdtSender", data-bind="text: sender.i18n + ':'")
    input#gdtSender.form-control(data-bind="value: sender")
  div.form-group
    label(for="gdtReceiver", data-bind="text: receiver.i18n + ':'")
    input#gdtReceiver.form-control(data-bind="value: receiver")
