hr
.footer.dc_footer
  div(style="margin-left: 20px; margin-bottom: 10px;")
    img(src="/static/dcbaseapp/assets/img/doccirrus/insuite40x40.png")
    | &nbsp;in
    span(style="color:red;") Suite
    span !{'&nbsp;&nbsp;©&nbsp;Doc Cirrus GmbH ' + new Date().getFullYear()}
    // see NavBarFooter.jade, waitingroom.jade.html
