.modal.fade#loadingDiv
  .modal-dialog
    .modal-content
      .modal-body
        div
          p.text-center
            strong#loadingMessage #{message}
        #successContainer.hide
          p.text-center
            i.icon-ok.icon-4x.fa-check.fa.fa-4x
        #errorContainer.hide
          p.text-center
            i.icon-remove.icon-4x.fa-times.fa.fa-4x
        #loadingContainer
          span
          span
          span
          span
          span