// Easy to use with the full screen iframes
nav#NavBarFooter.navbar.navbar-default.navbar-fixed-bottom(style="box-shadow: none; bottom: 0" data-bind="css: { 'NavBarFooter-fixed': true, 'navbar-fixed-bottom': true }")
  .container.container-fullscreen
    .navbar-header
      span.NavBarFooter-brand.navbar-brand
        img.NavBarFooter-brand-img(src="/static/dcbaseapp/assets/img/doccirrus/insuite40x40.png")
        | &nbsp;in
        span.NavBarFooter-brand-accent Suite
        span.NavBarFooter-copy &nbsp;©&nbsp;Doc Cirrus GmbH 2017