script(type="text/html", id="PatientSidebarViewModel")
  include PatientSidebarViewModel
script(type="text/html", id="PatientSectionViewModel")
  include patientSection/PatientSectionViewModel

script(type="text/html", id="PatientSectionAddDataViewModel")
  include patientSection/PatientSectionAddDataViewModel
script(type="text/html", id="PatientSectionDocumentsViewModel")
  include patientSection/PatientSectionDocumentsViewModel
script(type="text/html", id="PatientSectionInsuranceViewModel")
  include patientSection/PatientSectionInsuranceViewModel
script(type="text/html", id="PatientSectionAccountDataViewModel")
  include patientSection/PatientSectionAccountDataViewModel
script(type="text/html", id="PatientSectionMainDataViewModel")
  include patientSection/PatientSectionMainDataViewModel
script(type="text/html", id="KoBaseContact")
  include ../../../InSuiteAdminMojit/views/KoBaseContact
script(type="text/html", id="PatientAddressEditorModel-default")
  include patientSection/PatientAddressEditorModel-default
script(type="text/html", id="PatientAddressEditorModel-POSTBOX")
  include patientSection/PatientAddressEditorModel-POSTBOX
script(type="text/html", id="PatientAddressEditorModel-BILLING")
  include patientSection/PatientAddressEditorModel-BILLING
script(type="text/html", id="PatientCommunicationEditorModel")
  include patientSection/PatientCommunicationEditorModel
script(type="text/html", id="PatientInsuranceStatusEditorModel-PUBLIC")
  include patientSection/PatientInsuranceStatusEditorModel-PUBLIC
script(type="text/html", id="PatientInsuranceStatusEditorModel-PRIVATE")
  include patientSection/PatientInsuranceStatusEditorModel-PRIVATE
script(type="text/html", id="PatientInsuranceStatusEditorModel-BG")
  include patientSection/PatientInsuranceStatusEditorModel-BG
script(type="text/html", id="PatientInsuranceStatusEditorModel-PRIVCHOICE")
  include patientSection/PatientInsuranceStatusEditorModel-PRIVCHOICE
script(type="text/html", id="PatientInsuranceStatusEditorModel-SELFPAYER")
  include patientSection/PatientInsuranceStatusEditorModel-SELFPAYER
script(type="text/html", id="PatientInsuranceStatusEditorModel-PRIVATE_CH")
  include patientSection/PatientInsuranceStatusEditorModel-PRIVATE_CH
script(type="text/html", id="PatientSectionPortalAuthViewModel")
  include patientSection/PatientSectionPortalAuthViewModel
script(type="text/html", id="PatientSectionCareViewModel")
  include patientSection/PatientSectionCareViewModel
script(type="text/html", id="PatientInsuranceStatusEditorModel-PRIVATE_CH_IVG")
  include patientSection/PatientInsuranceStatusEditorModel-PRIVATE_CH_IVG
script(type="text/html", id="PatientInsuranceStatusEditorModel-PRIVATE_CH_MVG")
  include patientSection/PatientInsuranceStatusEditorModel-PRIVATE_CH_MVG
script(type="text/html", id="PatientInsuranceStatusEditorModel-PRIVATE_CH_UVG")
  include patientSection/PatientInsuranceStatusEditorModel-PRIVATE_CH_UVG
script(type="text/html", id="PatientInsuranceStatusEditorModel-PRIVATE_CH_VVG")
  include patientSection/PatientInsuranceStatusEditorModel-PRIVATE_CH_VVG