.DS_Store
.idea
.vscode
*.iml
*.heapsnapshot
*~
node_modules/*
smbroot/*
coverage/
var/log
var/db
var/build
var/imagesdefault
var/tmp
npm-debug.log
var/istack*
var/data/drg
id_file
./cronjobs.json
./db.json
var/selenium/bin/nohup.out
var/selenium/classes/
var/selenium/configuration.xml
var/selenium/lib/
var/imagetemp
var/imagecache
var/formsexport
assets/compiled
work
artifacts/
mojits/FormEditorMojit/assets/*-migrate-*.json
mojits/FormEditorMojit/*formdefaults*.json
rpmbuild/target
runtime
sumex.json

./convert-packagejson-to-ext.sh
./convert-extpackagejson-to-dev.sh

assets/mochaReports/*
assets/lib/woofmark/dist/*
assets/js/webpack_dist/*

# user specific files
dump.rdb
cups.json
db.json
docs.json
email.json
*-dev.json
env.json
friends.json
googleApiKeys.json
https.json
ice.json
inpacs.json
insight.json
jawbone.json
jira.json
kvconnect.json
m2m-client.json
m2m-server.json
mmiconnect.json
puppetry.json
redis.json
sms.json
leanSync.json
galexis.json
ofac-connect.json
