div.form-group(data-bind="visible: dmpSideEffectsOfCurrentAdjuvantEndocrineTherapy_4_23Visible()")
    strong(data-bind="text: dmpSideEffectsOfCurrentAdjuvantEndocrineTherapy_4_23.i18n")
    span(data-bind="dmpField: { field: dmpSideEffectsOfCurrentAdjuvantEndocrineTherapy_4_23 }")
    div(data-bind="foreach: dmpSideEffectsOfCurrentAdjuvantEndocrineTherapy_4_23.list, hasFeedback: { field: dmpSideEffectsOfCurrentAdjuvantEndocrineTherapy_4_23, toggle: dmpSideEffectsOfCurrentAdjuvantEndocrineTherapy_4_23.hasError, messages: dmpSideEffectsOfCurrentAdjuvantEndocrineTherapy_4_23.validationMessages }")
        label.radio-inline
            span(data-bind="text: i18n")
            input(type="radio", name="dmpSideEffectsOfCurrentAdjuvantEndocrineTherapy_4_23", data-bind="value: val, checked: $parent.dmpSideEffectsOfCurrentAdjuvantEndocrineTherapy_4_23, readOnly: $parent.dmpSideEffectsOfCurrentAdjuvantEndocrineTherapy_4_23.readOnly, attr: { name: $element.name + '-' + val }")