div.KoTableUsageConfigurationDialog
  table.table
    thead
      tr
        //th
        th(data-bind="text: visibleI18n")
        th(data-bind="text: designationI18n")
        th(data-bind="text: descriptionI18n")
        th(data-bind="text: actionI18n")
    tbody(data-bind="foreach: filters")
      tr
        //td
        //  span.KoTableUsageConfigurationDialog-dragHandle(style="display: inline-block; width: 10px; margin-top: 4px; cursor: ns-resize; color: #ccc;")
        //    span.fa.fa-ellipsis-v
        //    span.fa.fa-ellipsis-v(style="margin-left: 1px")
        td.text-center
          input(type="checkbox", data-bind="checked: visible")
        td
          input.form-control(type="text", data-bind="value: name, valueUpdate: 'afterkeydown'")
        td
          input.form-control(type="text", data-bind="value: description")
        td
          button.btn.btn-default(type="button", data-bind="click: $parent.removeConfiguration.bind( $parent, $data )")
            span.fa.fa-trash