div#resourcesCalendar
    div.wrapper
        img#resourcesCalendarLeftBar(src="/static/dcbaseapp/assets/img/doccirrus/resources-calendar-left-bar.png")
        img#resourcesCalendarMain(src="/static/dcbaseapp/assets/img/doccirrus/resources-calendar-main.png")