// ko ifnot: isAdHoc()
div.row
  div.col-xs-6
    .form-group(data-bind="highlightError: calendar")
      label(data-bind="text: calendar.i18n")
      select.form-control(name="calendar", data-bind="value: calendar, options: calendar.list, optionsValue: '_id', optionsText: 'name', optionsCaption: 'bitte wählen'")
    .form-group(data-bind="highlightError: scheduletype")
      label(data-bind="text: scheduletype.i18n")
      select.form-control(name="scheduletype", data-bind="enable: scheduletypeEnabled, value: scheduletype, options: scheduletype.list, optionsValue: '_id', optionsText: 'name'")
    .form-group(data-bind="highlightError: userDescr")
      label(data-bind="text: userDescr.i18n")
      input.form-control(name="userDescr", data-bind="value: userDescr, valueUpdate: 'afterkeydown'")
    // ko if: isRequireResource()
    .form-group(style="margin-bottom: 0;")
      label(data-bind="text: resourcesI18n")
    .form-group(data-bind="html: requiredResourcesLink")
    // /ko
  div.col-xs-6
    .form-group
      label(data-bind="text: details.i18n")
      textarea.form-control(name="details", data-bind="value: details, valueUpdate: 'afterkeydown'")
    .form-group
      label(data-bind="text: severity.i18n")
      input.form-control(name="severity", type="hidden", data-bind="select2: select2Severity")
    // ko if: $data.showPatient && !group() || isFindAppointment
    .form-group
      label(data-bind="text: patient.i18n")
      input.form-control(name="patient", type="hidden", data-bind="select2: patientAutocomplete")
    .form-group(data-bind="html: patientLink")
    // /ko
div.row
  div.col-xs-6
    label(data-bind="text: labelDurationI18n")
    div.form-group
      div.checkbox
        label
          strong(data-bind="text: allDay.i18n")
          input(name="allDay", type="checkbox", data-bind="enable: allDayEnabled, checked: allDay")
  div.col-xs-6
    .form-group(data-bind="highlightError: duration")
      label(data-bind="text: duration.i18n")
      input.form-control(name="duration", data-bind="enable: durationEnabled, value: duration, valueUpdate: 'afterkeydown', event: { input: onDurationChangeByUser }")

//ko ifnot: isFindAppointment
div.row
  div.col-xs-6
    div.form-group(data-bind="highlightError: start")
      label(data-bind="text: start.i18n")
      .date-picker.input-group
        input.form-control(name="start", data-bind="enable: startEnabled, datetimepicker: { value: start, valueReset: null, options: startDatetimepickerOptions, valueUpdate: '' }")
  div.col-xs-6
    div.form-group(data-bind="highlightError: end")
      label(data-bind="text: end.i18n")
      .date-picker.input-group
        input.form-control(name="end", data-bind="enable: endEnabled, datetimepicker: { value: end, valueReset: null, options: endDatetimepickerOptions, valueUpdate: '' }")
// /ko

//ko if: isFindAppointment
div.row.find-appointment
  div.col-xs-6
    div.form-group(data-bind="highlightError: start")
      label(data-bind="text: start.i18n")
      input.form-control.find-appointment__selected-date-input(name="start", type="text", data-bind="enable: false, value: startFormatted")
  div.col-xs-6.row.find-termine
    div.col-xs-7
      div.form-group
        label(data-bind="text: labelFromDayI18n")
        .date-picker.input-group
          input.form-control(name="findStartDate", data-bind="datetimepicker: { value: findStartDate, valueReset: null, options: findScheduleDatepickerOptions, valueUpdate: '' }")
    div.col-xs-5(style="padding-left: 0")
      label &nbsp;
      button.btn.btn-sm.btn-primary(data-bind="click: handleSearchAppointment, enable: isFindStartDateEnabled, text: searchForAppointmentI18n")

div.row.suggested-dates(data-bind="if: findAppointmentAvailableDates().length")
  div.col-xs-12
    label(data-bind="text: suggestedAppointmentI18n")
  div.col-xs-6(data-bind="foreach: findAppointmentAvailableDates")
    //ko ifnot: $index() % 2
    button.btn.btn-default.suggested-dates__button(data-bind="text: $parent.formatDateWithDay($data.start), click: $parent.setFoundAppointment.bind($parent, $data)")
    // /ko
  div.col-xs-6(data-bind="foreach: findAppointmentAvailableDates")
    //ko if: $index() % 2
    button.btn.btn-default.suggested-dates__button(data-bind="text: $parent.formatDateWithDay($data.start), click: $parent.setFoundAppointment.bind($parent, $data)")
    // /ko
// /ko
//ko if: isNoShowVisible
div.row
  div.col-xs-6
    div.form-group
      div.checkbox
        label
          strong(data-bind="text: noShowi18n")
          input(name="noShow", type="checkbox", data-bind="checked: isNoShow")
// /ko
//ko ifnot: isFindAppointment
//ko if: group() && _id()
div.row
  hr
  div.col-xs-6
    span(data-bind="text: labelGroupMasterHintI18n")
  div.col-xs-6.text-center
    button.btn.btn-default#createSlot(name="createSlot", data-bind="click: createSlot, text: createSlotI18n")
// /ko
//ko ifnot: isRepetitionElement() || ( group() && _id() ) || groupId()
div.row
  hr
  div.col-xs-6
    .form-group
      label(data-bind="text: repetition.i18n")
      select.form-control(name="repetition", data-bind="value: repetition, options: repetitionList, optionsValue: 'val', optionsText: 'i18n'")
    div.form-group(data-bind="visible: dtstartVisible")
      label(data-bind="text: dtstart.i18n")
      .date-picker.input-group
        input.form-control(name="dtstart", data-bind="datetimepicker: { value: dtstart, valueReset: null, options: dtstartDatepickerOptions, valueUpdate: '' }")
    div.form-group(data-bind="visible: untilVisible, highlightError: until")
      label(data-bind="text: until.i18n")
      .date-picker.input-group
        input.form-control(name="until", data-bind="datetimepicker: { value: until, valueReset: null, options: untilDatepickerOptions, valueUpdate: '' }")
  div.col-xs-6
    .form-group(data-bind="visible: intervalVisible")
      label(data-bind="text: labelIntervalOnI18n")
      div.form-inline(data-bind="highlightError: interval")
        b(data-bind="text: labelIntervalEveryI18n")
        | &nbsp;
        input.form-control(name="interval", style="width: 40px;", data-bind="value: interval, valueUpdate: 'afterkeydown'")
        | .&nbsp;
        b(data-bind="text: labelIntervalDayI18n")
    .form-group(data-bind="visible: byweekdayVisible")
      label(data-bind="text: byweekday.i18n")
      select.form-control(name="byweekday", data-bind="selectedOptions: byweekday, options: byweekday.list, optionsValue: 'val', optionsText: 'i18n'", multiple)
// /ko
// /ko
//ko if: tableVisible
div.row
  hr
  div#appointmentListTable
    div(data-bind="template: appointmentListTable.template")
// /ko
// /ko
// ko if: isAdHoc()
div.row
  div.col-xs-6
    .form-group(data-bind="highlightError: calendar")
      label(data-bind="text: calendar.i18n")
      select.form-control(name="calendar", data-bind="value: calendar, options: calendar.list, optionsValue: '_id', optionsText: 'name', optionsCaption: 'bitte wählen'")
    .form-group(data-bind="highlightError: scheduletype")
      label(data-bind="text: scheduletype.i18n")
      select.form-control(name="scheduletype", data-bind="enable: scheduletypeEnabled, value: scheduletype, options: scheduletype.list, optionsValue: '_id', optionsText: 'name'")
    .form-group(data-bind="highlightError: userDescr")
      label(data-bind="text: userDescr.i18n")
      input.form-control(name="userDescr", data-bind="value: userDescr, valueUpdate: 'afterkeydown'")
    // ko if: $data.showPatient
    .form-group
      label(data-bind="text: patient.i18n")
      input.form-control(name="patient", type="hidden", data-bind="select2: patientAutocomplete")
    .form-group(data-bind="html: patientLink")
    // /ko
    .form-group(data-bind="highlightError: duration")
      label(data-bind="text: duration.i18n")
      input.form-control(name="duration", data-bind="value: duration, valueUpdate: 'afterkeydown', event: { input: onDurationChangeByUser }")
  div.col-xs-6
    .form-group
      label(data-bind="text: details.i18n")
      textarea.form-control(name="details", data-bind="value: details, valueUpdate: 'afterkeydown'")
    .form-group
      label(data-bind="text: severity.i18n")
      input.form-control(name="severity", type="hidden", data-bind="select2: select2Severity")
    div(align="middle", style="margin-top:25px;")
      div
        .muted(data-bind="text: labelCAI18n")
        strong(data-bind="text: availability")
      div.nextonemodal(data-bind="text: number")
      div
        .muted(data-bind="text: labelPracticeIDI18n")
        | &nbsp;
        strong#nnprax(data-bind="text: practiceNo")
// /ko
