.dc-action-buttons.dc-action-buttons-top.dc-action-buttons-left.clearfix(data-bind="foreach: buttons")
  button.btn.btn-primary(type="button", data-bind="click: $parent.onAction, enable: enable, visible: visible, text: title")