h4(data-bind="text: groupKBVI18n")
div.panel.panel-default
  div.panel-body
    div.form-group
      div.checkbox
        label.control-label
          span(data-bind="text: checkBoxCodingI18n")
          input(type="checkbox", name="kbvFocusFunctionalityKRW", data-bind="checked: kbvFocusFunctionalityKRW")