div.row
  .col-xs-12
    #actionButtons.dc-action-buttons.dc-action-buttons-top.dc-action-buttons-left.clearfix
      button#btn_crt.btn.btn-primary(type="button", data-bind="click: create.action, text: buttonGenerateI18n")
      button#btn_remove.btn.btn-primary(type="button", data-bind="click: remove.action, visible: remove.visible, enable: remove.enabled, text: buttonRemoveI18n")
      button#btn_replace.btn.btn-primary(type="button", data-bind="click: replace.action, visible: replace.visible, enable: replace.enabled, text: buttonReplaceI18n")
      button#btn_prevldt.btn.btn-primary(type="button", data-bind="click: preValidate.action, enable: preValidate.enabled, text: buttonPrecheckI18n")
      button#btn_approve.btn.btn-primary(type="button", data-bind="click: approve.action, visible: approve.visible, enable: approve.enabled, text: buttonApproveI18n")
      button#btn_vldt.btn.btn-primary(type="button", data-bind="click: validate.action, enable: validate.enabled, text: buttonCheckI18n")
      span.pull-right.dc-action-buttons-right
        button#btn_manual.btn.btn-primary(type="button", data-bind="click: manualSend.action, enable: manualSend.enabled, visible: manualSend.visible, text: buttonManualDeliveryI18n")
        button#btn_send.btn.btn-primary(type="button", data-bind="click: send.action, enable: send.enabled, visible: send.visible") Versenden
        button#btn_batch_pdf.btn.btn-primary(type="button", data-bind="click: invoiceBatchCreationPDF.action, enable: invoiceBatchCreationPDF.enabled, visible: invoiceBatchCreationPDF.visible")
          i.fa.fa-file-pdf-o
          | &nbsp;
          span(data-bind="text: generateInvoicesPDFI18n")
        button#btn_batch.btn.btn-primary(type="button", data-bind="click: invoiceBatchCreation.action, enable: invoiceBatchCreation.enabled, visible: invoiceBatchCreation.visible")
          i.fa.fa-files-o
          | &nbsp;
          span(data-bind="text: generateInvoicesTextI18n")

div.row
  #pvslogTable.col-xs-12(data-bind="template: template")
