script(type="text/html", id="KoButton")
  include KoButton/view/KoButton
script(type="text/html", id="KoButtonDropDown")
  include KoButton/view/KoButtonDropDown
script(type="text/html", id="KoButtonSplitDropDown")
  include KoButton/view/KoButtonSplitDropDown
script(type="text/html", id="KoComponent")
  include KoComponent/view/KoComponent
script(type="text/html", id="KoExample")
  include KoExample/view/KoExample
script(type="text/html", id="KoExample-different")
  include KoExample/view/KoExample-different
script(type="text/html", id="KoContainer")
  include KoContainer/view/KoContainer
script(type="text/html", id="KoCounter")
  include KoCounter/view/KoCounter
script(type="text/html", id="KoDisplay")
  include KoDisplay/view/KoDisplay
script(type="text/html", id="KoField")
  include KoField/view/KoField
script(type="text/html", id="KoFieldSelect")
  include KoField/view/KoFieldSelect
script(type="text/html", id="KoFieldSelect2")
  include KoField/view/KoFieldSelect2
script(type="text/html", id="KoIcon")
  include KoIcon/view/KoIcon
script(type="text/html", id="KoPictureViewer")
  include KoPictureViewer/view/KoPictureViewer
script(type="text/html", id="KoPaging")
  include KoPaging/view/KoPaging
script(type="text/html", id="KoTableHeader")
  include KoTable/view/KoTableHeader
script(type="text/html", id="KoTable")
  include KoTable/view/KoTable
script(type="text/html", id="KoTableExportCsvStart")
  include KoTable/view/KoTableExportCsvStart
script(type="text/html", id="KoTableVisibleColumnsConfiguration")
  include KoTable/view/KoTableVisibleColumnsConfiguration
script(type="text/html", id="KoTableUsageConfigurationDialog")
  include KoTable/view/KoTableUsageConfigurationDialog
script(type="text/html", id="KoTableCell")
  include KoTable/view/KoTableCell
script(type="text/html", id="KoTableCellNumbering")
  include KoTable/view/KoTableCellNumbering
script(type="text/html", id="KoTableCellRenderer")
  include KoTable/view/KoTableCellRenderer
script(type="text/html", id="KoTableCellDrag")
  include KoTable/view/KoTableCellDrag
script(type="text/html", id="KoTableCellField")
  include KoTable/view/KoTableCellField
script(type="text/html", id="KoTableCellEditable")
  include KoTable/view/KoTableCellEditable
script(type="text/html", id="KoTableCellLinked")
  include KoTable/view/KoTableCellLinked
script(type="text/html", id="KoTablePicturePreviewCell")
  include KoTable/view/KoTablePicturePreviewCell
script(type="text/html", id="KoTablePreviewCell")
  include KoTable/view/KoTablePreviewCell
script(type="text/html", id="KoTableColumn")
  include KoTable/view/KoTableColumn
script(type="text/html", id="KoTableColumnCheckbox")
  include KoTable/view/KoTableColumnCheckbox
script(type="text/html", id="KoTableColumnNumbering")
  include KoTable/view/KoTableColumnNumbering
script(type="text/html", id="KoTableColumnRenderer")
  include KoTable/view/KoTableColumnRenderer
script(type="text/html", id="KoTableColumnLinked")
  include KoTable/view/KoTableColumnLinked
script(type="text/html", id="KoTableColumnDrag")
  include KoTable/view/KoTableColumnDrag
script(type="text/html", id="KoTableColumnTools")
  include KoTable/view/KoTableColumnTools
script(type="text/html", id="KoTablePicturePreviewColumn")
  include KoTable/view/KoTablePicturePreviewColumn
script(type="text/html", id="KoTablePreviewColumn")
  include KoTable/view/KoTablePreviewColumn
script(type="text/html", id="KoTableUsageConfiguration")
  include KoTable/view/KoTableUsageConfiguration
script(type="text/html", id="KoTableRow")
  include KoTable/view/KoTableRow
script(type="text/html", id="KoTableSummaryRow")
  include KoTable/view/KoTableSummaryRow
script(type="text/html", id="KoTableSelect")
  include KoTableSelect/view/KoTableSelect
script(type="text/html", id="KoToolbar")
  include KoToolbar/view/KoToolbar
script(type="text/html", id="KoToolbarSeparator")
  include KoToolbar/view/KoToolbarSeparator
script(type="text/html", id="KoMenu")
  include KoMenu/view/KoMenu
script(type="text/html", id="KoMenuItem")
  include KoMenu/view/KoMenuItem
script(type="text/html", id="KoMenuSeparator")
  include KoMenu/view/KoMenuSeparator
script(type="text/html", id="KoNav")
  include KoNav/view/KoNav
script(type="text/html", id="KoNavItem")
  include KoNav/view/KoNavItem
script(type="text/html", id="KoSchemaValue")
  include KoSchemaValue/view/KoSchemaValue
script(type="text/html", id="KoTree")
  include KoTree/view/KoTree
script(type="text/html", id="KoTreeItem")
  include KoTree/view/KoTreeItem
script(type="text/html", id="KoEditableTable")
  include KoEditableTable/view/KoEditableTable
script(type="text/html", id="KoEditableTableHeader")
  include KoEditableTable/view/KoEditableTableHeader
script(type="text/html", id="KoEditableTableInputCell")
  include KoEditableTable/view/KoEditableTableInputCell
script(type="text/html", id="KoEditableTableTextareaCell")
  include KoEditableTable/view/KoEditableTableTextareaCell
script(type="text/html", id="KoEditableTablePairInputCell")
  include KoEditableTable/view/KoEditableTablePairInputCell
script(type="text/html", id="KoEditableTableCell")
  include KoEditableTable/view/KoEditableTableCell
script(type="text/html", id="KoEditableTableCellDrag")
  include KoEditableTable/view/KoEditableTableCellDrag
script(type="text/html", id="KoEditableTableCheckboxCell")
  include KoEditableTable/view/KoEditableTableCheckboxCell
script(type="text/html", id="KoEditableTableColumn")
  include KoEditableTable/view/KoEditableTableColumn
script(type="text/html", id="KoEditableTableCheckboxColumn")
  include KoEditableTable/view/KoEditableTableCheckboxColumn
script(type="text/html", id="KoEditableTableColumnDrag")
  include KoEditableTable/view/KoEditableTableColumnDrag
script(type="text/html", id="KoEditableTableRow")
  include KoEditableTable/view/KoEditableTableRow
script(type="text/html", id="KoEditableTableGroupRow")
  include KoEditableTable/view/KoEditableTableGroupRow
script(type="text/html", id="KoPrintButton")
  include KoPrintButton/view/KoPrintButton
script(type="text/html", id="KoFileUploader")
  include KoFileUploader/view/KoFileUploader
script(type="text/html", id="KoDateRangeSelector")
  include KoDateRangeSelector/view/KoDateRangeSelector

include KoSchemaValue/view/KoSchemaTemplates