div.form-group
  strong(data-bind="text: dmpPerceivedHypertensionTrainingI18n")
  span(data-bind="dmpField: { field: dmpPerceivedHypertensionTraining }")
  div(data-bind="foreach: dmpPerceivedHypertensionTraining.list, hasFeedback: { field: dmpPerceivedHypertensionTraining, toggle: dmpPerceivedHypertensionTraining.hasError, messages: dmpPerceivedHypertensionTraining.validationMessages }")
    label.radio-inline
      span(data-bind="text: i18n")
      input(type="radio", name="dmpPerceivedHypertensionTraining", data-bind="value: val, checked: $parent.dmpPerceivedHypertensionTraining, readOnly: $parent.dmpPerceivedHypertensionTraining.readOnly")