div.form-group
  strong(data-bind="text: dmpPerceivedCopdTrainingI18n")
  span(data-bind="dmpField: { field: dmpPerceivedCopdTraining }")
  div(data-bind="foreach: dmpPerceivedCopdTraining.list, hasFeedback: { field: dmpPerceivedCopdTraining, toggle: dmpPerceivedCopdTraining.hasError, messages: dmpPerceivedCopdTraining.validationMessages }")
    label.radio-inline
      span(data-bind="text: i18n")
      input(type="radio", name="dmpPerceivedCopdTraining", data-bind="value: val, checked: $parent.dmpPerceivedCopdTraining, readOnly: $parent.dmpPerceivedCopdTraining.readOnly")