div#tab_file
  h3(data-bind="text: fileHeadlineI18n")
  div
    table.form-group.pull-left(style="margin-left: 1em")
      tr
        th(data-bind="text: timestampI18n + ':'")
        td(data-bind="text: timestampDisplay", style="padding: 0 1em")
      tr
        th(data-bind="text: createdI18n + ':'")
        td(data-bind="text: createdDisplay", style="padding: 0 1em")
      tr
        th(data-bind="text: sourceI18n + ':'")
        td(data-bind="text: sourceDisplay", style="padding: 0 1em")
      tr(data-bind="click: openPmResultsModal, visible: pmResults, css: {'text-danger': pmResultsHasError, 'text-success': !pmResultsHasError()}")
        th(data-bind="text: pmResultsI18n + ':'")
        td(style="padding: 0 1em")
          span(data-bind="text: displayPmResultsStats")
          span &nbsp;
          span(data-bind="css: {'glyphicon-eye-open': !pmResultsIsOK(), 'glyphicon-ok': pmResultsIsOK}").glyphicon
  div#labDataTable(data-bind="with: fileTable")
    div.table-responsive
      table.table.table-bordered
        colgroup
          col(style="width: 35%")
          col(style="width: 25%")
          col
          col(style="width: 1%")
        thead
          tr
            th(data-bind="text: $parent.keyLabelI18n")
            th(data-bind="text: $parent.valueLabelI18n")
            th(style="border-right-width: 0", data-bind="text: $parent.patientLabelI18n")
            th(style="border-left-style: none", data-bind="text: $parent.collapseLabelI18n")
        tbody(data-bind="foreach: records")
          tr(data-bind="css: getRowClass( $data ), click: onRowClick")
          tr
            td
              span(data-bind="text: key")
              span &nbsp;
              span.glyphicon.glyphicon-warning-sign.text-warning(data-bind="visible: errorAndAttention, click: showErrorAndAttention")
            td
              span(data-bind="html: value")
            td(style="border-right-width: 0")
              span(data-bind="html: patientDisplay")
              span &nbsp;
              span.glyphicon.glyphicon-warning-sign.text-warning(data-bind="visible: patientDiff, click: showPatientDiff")
            td(style="border-left-style: none; color: #333; cursor: pointer;")
              span.fa(data-bind="css: { 'fa-chevron-up': detailsVisible, 'fa-chevron-down': !detailsVisible() }")
          tr(data-bind="visible: detailsVisible")
            td(colspan=5, data-bind="html: details")
