div.PatientGadgetCompletedTasks
  h4.PatientGadget-headline
    a(data-bind="attr: { href: _linkToTaskTable }, text: completedTasksI18n", target="_blank")
  include PatientGadgetConfigurableTableBase
