//TRANSLATION INCOMPLETE!! MOJ-3201
.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")#myModal
  .modal-header
    .btn(type="button", class="close", data-dismiss="modal", aria-hidden="true") ×
    h3 Fehler
  .modal-body
    h4 Fehler bei der Registrierung!
    hr
    p Leider konnte Ihre Registrierung nicht durchgeführt werden. Bitte versuchen Sie es zu einem späteren Zeitpunkt erneut.
  .modal-footer
    a(href='/login').btn.btn-primary Ok

