//TRANSLATION INCOMPLETE!! MOJ-3201
.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")#myModal
  .modal-header
    .btn(type="button", class="close", data-dismiss="modal", aria-hidden="true") ×
    h3 Registrierung für Doc Cirrus Dienste
  .modal-body
    .navbar-form.pull-left
      h4 Ihre Angaben:
      div.listed_form_entries
        strong Ausgewählte Dienste
        ul
          each service in services
            - if(typeof(service.ps) != undefined)
              li!= service.ps
          li
            b
            | Monatliche Kosten:
            | &nbsp;
            != totalPrice
        strong Ansprechpartner
        ul
          li
            | Vorname:
            | &nbsp;
            != firstname
          li
            | Nachname:
            | &nbsp;
            != lastname
          li
          | E-Mail:
          | &nbsp;
          != email
        strong Unternehmen
        ul
          li
            | Name:
            | &nbsp;
            != coname
          li
            | Art:
            | &nbsp;
            != cotype
          li
            | Kontakt:
            | &nbsp;
            != contact
        strong Adresse
        ul
          li
            | Straße:
            | &nbsp;
            != address.street
            | &nbsp;
            != address.houseno
          li
            | PLZ / Stadt:
            | &nbsp;
            != address.zip
            | &nbsp;
            != address.city
          li
            | Land:
            | &nbsp;
            != address.country
        strong Bankverbindung
        ul
          - if(account)
            - if(account.cardType == "BANK")
                li
                  | Bankinstitut:
                  | &nbsp;
                  != account.bankName
                li
                  | Kontoinhaber:
                  | &nbsp;
                  != account.accountOwner
                li
                  | Kontonummer/IBAN:
                  | &nbsp;
                  != account.bankIBAN
                li
                  | Bankleitzahl/BIC:
                  | &nbsp;
                  != account.bankBIC
            - else
                li
                  | Kartennummer:
                  | &nbsp;
                  != account.cardNo
                li
                  | Gültig bis:
                  | &nbsp;
                  != account.cardValidToMonth
                  | .
                  | &nbsp;
                  != account.cardValidToYear
                li
                  | Prüfsumme:
                  | &nbsp;
                  != account.cardCheckCode

      p Bitte beachten Sie, dass wir Ihren Antrag nur bearbeiten können, wenn Sie die Datenschutzerklärung und die Nutzungsbedingungen akzeptieren.
      //hr
      .control-group
        .controls
          label.checkbox
            input(type='checkbox', value='',dcschema='_simple', dctype='mandatory')#privacy.dcvalidate
            n &nbsp;Ich akzeptiere die&nbsp;
            a(href='/static/DocCirrus/assets/docs/Datenschutz.pdf', target='_blank', title='Datenschutzerklärung der Doc Cirrus GmbH') Datenschutzerklärung
            n &nbsp;der Doc Cirrus GmbH
      .control-group
        .controls
          label.checkbox
            input(type='checkbox', value='', dcschema='_simple', dctype='mandatory')#intimesla.dcvalidate
            n &nbsp;und die&nbsp;
            a(href='/static/DocCirrus/assets/docs/Nutzungsbedingungen.pdf', target='_blank', title='Nutzungsbedingungen der Doc Cirrus GmbH') Nutzungsbedingungen
            n &nbsp;für Doc Cirrus Dienste
  .modal-footer
    .btn(data-dismiss="modal", aria-hidden="true") Abbrechen
    input(type='hidden', value=firstname, name='fn')
    input(type='hidden', value=lastname, name='ln')
    input(type='hidden', value=email, name='em')
    input(type='submit', value='Senden').btn.btn-primary.disabled#sendbtn

