extend ../../DocCirrus/views/email_layout

block emailbody
  // [if lt IE 9] <!
  script(type="text/javascript", src="/static/CMSMojit/assets/js/polyfill/respond-min.js")
  script(type="text/javascript", src="/static/CMSMojit/assets/js/polyfill/polyfiller.js")
  script.
     $.webshims.polyfill("es5 forms forms-ext details");
  // <![endif]

  input(type="hidden",id="YUI_SERVER_LANG",value=params.lang.YUI_SERVER_LANG)
  input(type="hidden",id="page-route",value="/optin")

  div(id=mojit_view_id)
    p !{params.greetings}
    br
    p !{params.PART1}
    br
    a(href="#{params.link}", style="background: #22405E; color: white; display: inline-block; width: auto; text-align: center;text-decoration:none;border:10px solid #22405E;font-weight: bold;font-size: 15px;font-style: normal")
      span !{params.BUTTON_CONFIRM}
    br
    br
    p !{params.PART2}
    br
    p !{params.BUTTOMLINE}
    br
    br
    p !{params.PS}