div#transformerModel
  div.form-group
    label(for="transformerSelect2modality", data-bind="text: modality.i18n + ':'")
    input.form-control.input-sm#transformerSelect2modality(type="hidden", data-bind="select2: select2modalities")
