div.visible-xs.visible-sm(style="padding: 15px")
div.visible-md.visible-lg(style="padding: 35px")
div.container.container-fullscreen(id=mojit_view_id)
  .jumbotron(style="border-radius: 30px;")
    .row
      div.col-sm-5.col-sm-push-7
        div.form-group.text-center
          a(href="/")
            img(src='/static/DocCirrus/assets/images/dc_logo_300x103_trans.png', alt="Doc Cirrus – Your Safe Medical Cloud", style="max-width: 100%")
      div.col-sm-7.col-sm-pull-5
        h3
          strong Impressum
        .row
          .col-lg-5
            p
              |Doc Cirrus GmbH
              br
              |Bessemerstr. 82
              br
              |12103 Berlin
              br
              span.visible-lg Geschäftsführer:
          .col-lg-7
            p
              |Phone: +49.30.20898729.3
              br
              |Fax: +49.30.20898729.9
              br
              |E-Mail:
              a(href='mailto:contact@doc-cirrus.com') contact@doc-cirrus.com
              br
              span.visible-lg Dr. Torsten Schmale
        p.hidden-lg
          |Geschäftsführer: Dr. Torsten Schmale
      dvi.col-xs-12
        p Amtsgericht Berlin-Charlottenburg, HRB 144219
        p Dr. Torsten Schmale (inhaltlich verantwortlich)
        br
        h3 Haftungshinweis:
        p Alle Angebote dieser Webseite sind freibleibend und unverbindlich. Doc Cirrus behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
        p Die Doc Cirrus GmbH erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Verlinkung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Doc Cirrus übernimmt jedoch keine Haftung für die Inhalte externer Links. Für deren Inhalte sind ausschließlich die Betreiber verantwortlich.


