div(id=mojit_view_id)
  .container
    div(style="position: relative")
      #fullScreenToggle(style="position: absolute; right: 0; top: 0;")
        button.btn.btn-sm.btn-default(
        name="toggleFullScreen", type="button", data-bind="click: toggleFullScreenHandler, attr: { title: viewPortBtnI18n }",
        style="margin-top: 5px; font-size:14px")
          span.fa.fa-arrows-alt
  .container
      h2 Patientenerklärung Europäische Krankenversicherung
      ul.list-group
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB.pdf", target="_blank") Alle Sprachen
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_CZ.pdf", target="_blank") Tschechisch
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_DK.pdf", target="_blank") Dänisch
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_E.pdf", target="_blank") Spanisch
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_F.pdf", target="_blank") Französisch
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_GB.pdf", target="_blank") Englisch
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_GR.pdf", target="_blank") Griechisch
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_H.pdf", target="_blank") Ungarisch
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_I.pdf", target="_blank") Italienisch
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_NL.pdf", target="_blank") Niederländisch
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_PL.pdf", target="_blank") Polnisch
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_RO.pdf", target="_blank") Rumänisch
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_HR.pdf", target="_blank") Kroatisch
        li.list-group-item
          a(href="/static/dcbaseapp/assets/img/KBV/pdf/EXT_ITA_AHEX_Erklaerung_EHIC_PEB_BG.pdf", target="_blank") Bulgarisch

