div#upperDiv
    iframe(style="width:100%; height: calc(100vh - 200px); border: 0px;", sandbox="allow-same-origin allow-scripts allow-top-navigation allow-popups allow-forms", data-bind="attr: { src: src }")