div.form-group
  strong(data-bind="text: dmpAsthmaRelatedTransferOrConfinementArranged.i18n")
  span(data-bind="dmpField: { field: dmpAsthmaRelatedTransferOrConfinementArranged }")
  div(data-bind="foreach: dmpAsthmaRelatedTransferOrConfinementArranged.list, hasFeedback: { field: dmpAsthmaRelatedTransferOrConfinementArranged, toggle: dmpAsthmaRelatedTransferOrConfinementArranged.hasError, messages: dmpAsthmaRelatedTransferOrConfinementArranged.validationMessages }")
    label.radio-inline
      span(data-bind="text: i18n")
      input(type="radio", name="dmpAsthmaRelatedTransferOrConfinementArranged", data-bind="value: val, checked: $parent.dmpAsthmaRelatedTransferOrConfinementArranged, readOnly: $parent.dmpAsthmaRelatedTransferOrConfinementArranged.readOnly")