table.table.table-bordered
    thead
        tr
            th
                b(data-bind="text: LBL_OPERATION") XXX
            th
                b(data-bind="text: LBL_KEYBOARD_SHORTCUT") YYY
    tbody( data-bind="html: hotkeysRows" )