div#labDataChart.labDataChart(style="height: 100%; width: 99%; position: absolute; top:0; left:0;" data-bind="labDataChart: chartData")
  svg(style="height: 95%; overflow: visible")#svgLabChart
  div#divChartImg
