div#medDataChart.labDataChart(style="height: 100%; width: 99%; position: absolute; top:0; left:0;" data-bind="medDataChart: chartData")
  svg(style="height: 95%; overflow: visible")#svgMeddataChart
  div#divChartImg