div#readCardHintModal.text-center(style="margin-top: -10px")
    p(data-bind='text: promptForcedOnlineCheckMessage')
    p(data-bind='text: promptRegularOnlineCheckMessage')
    p(data-bind='text: errorCodeMessage')