div.col-xs-12.form-group(data-bind="visible: dmpConditionAfterParticularlyCardiotoxicTumorTherapy_4_23Visible()")
    strong(data-bind="text: dmpConditionAfterParticularlyCardiotoxicTumorTherapy_4_23.i18n")
    span(data-bind="dmpField: { field: dmpConditionAfterParticularlyCardiotoxicTumorTherapy_4_23 }")
    div(data-bind="foreach: dmpConditionAfterParticularlyCardiotoxicTumorTherapy_4_23.list, hasFeedback: { field: dmpConditionAfterParticularlyCardiotoxicTumorTherapy_4_23, toggle: dmpConditionAfterParticularlyCardiotoxicTumorTherapy_4_23.hasError, messages: dmpConditionAfterParticularlyCardiotoxicTumorTherapy_4_23.validationMessages }")
        label.checkbox-inline
            span(data-bind="text: i18n")
            input(type="checkbox", name="dmpConditionAfterParticularlyCardiotoxicTumorTherapy_4_23", data-bind="value: val, checked: $parent.dmpConditionAfterParticularlyCardiotoxicTumorTherapy_4_23, readOnly: $parent.dmpConditionAfterParticularlyCardiotoxicTumorTherapy_4_23.readOnly, attr: { name: $element.name + '-' + val }")