div.form-group
    strong(data-bind="text: dmpTherapyOfRemoteMetastases.i18n")
    span(data-bind="dmpField: { field: dmpTherapyOfRemoteMetastases }")
    div(data-bind="foreach: dmpTherapyOfRemoteMetastases.list, hasFeedback: { field: dmpTherapyOfRemoteMetastases, toggle: dmpTherapyOfRemoteMetastases.hasError, messages: dmpTherapyOfRemoteMetastases.validationMessages }")
        label.checkbox-inline
            span(data-bind="text: i18n")
            input(type="checkbox", name="dmpTherapyOfRemoteMetastases", data-bind="value: val, checked: $parent.dmpTherapyOfRemoteMetastases, readOnly: $parent.dmpTherapyOfRemoteMetastases.readOnly, attr: { name: $element.name + '-' + val }")