div#crmContactBrowserModel
  div.row(data-bind="with: contactModel")
    div.col-md-12
      h5(style="font-size: 17px")
        b(data-bind="text: $parent.centralContactI18n")
      div.panel.panel-default
        div.panel-body
          div.row
            div.col-md-4
              div.form-group(data-bind="hasFeedback: { toggle: lastname.hasError, messages: lastname.validationMessages }")
                label.control-label(data-bind="text: lastname.i18n")
                input.form-control(name="lastname", type="text", data-bind="readOnly: lastname.readOnly, textInput: lastname")
              div.form-group(data-bind="hasFeedback: { toggle: talk.hasError, messages: talk.validationMessages }")
                label.control-label(data-bind="text: $parent.talkI18n")
                input.form-control(name="talk", type="text", data-bind="select2: select2Talk, readOnly: talk.readOnly")
              div.form-group(data-bind="hasFeedback: { toggle: middlename.hasError, messages: middlename.validationMessages }")
                label.control-label(data-bind="text: middlename.i18n")
                input.form-control(name="middlename", type="text", data-bind="readOnly: middlename.readOnly, textInput: middlename")
              div.form-group(data-bind="hasFeedback: { toggle: firstname.hasError, messages: firstname.validationMessages }")
                label.control-label(data-bind="text: firstname.i18n")
                input.form-control(name="firstname", type="text", data-bind="readOnly: firstname.readOnly,readOnly: firstname.readOnly, textInput: firstname")
              div.form-group(data-bind="hasFeedback: { toggle: title.hasError, messages: title.validationMessages }")
                label.control-label(data-bind="text: title.i18n")
                input.form-control(name="title", type="text", data-bind="readOnly: title.readOnly, textInput: title")
              div.form-group(data-bind="hasFeedback: { toggle: dob.hasError, messages: dob.validationMessages }")
                label.control-label(data-bind="text: $parent.kbvDobI18n")
                div.date-picker.input-group
                  input.form-control(name="dob", data-bind="readOnly: dob.readOnly, datetimepicker: { value: dob }")
            div.col-md-8
              div
                h4.form-inline
                  span(data-bind="text: addresses.i18n")
                  | &nbsp;
                  small(data-bind="visible: !lastname.readOnly()")
                    a(href="#", data-bind="click: addresses.push")
                      i.icon.fa.fa-plus
                div(data-bind="template: {foreach: addresses}")
                  include template-address
                div.row
                  div.col-md-12
                    h4
                      span(data-bind="text: $parent.titleComI18n")
                      | &nbsp;
                      small(data-bind="visible: !lastname.readOnly()")
                        a(href='#', data-bind='click: communications.push')
                          i.icon.fa.fa-plus
                    div.col-xs-12
                      div.row#contactCommunications(data-bind="foreach: communications")
                        include template-communication
  div#actionButtons
    div.pull-right(data-bind="template: saveContact.template", style="margin-right: 10px; margin-bottom:10px; display:inline-block;")
    div.pull-right(data-bind="template: goBackBtn.template", style="margin-right: 10px; margin-bottom:10px; display:inline-block;")
    div.clearfix
