div#patientList
  div.row
    div.col-md-12(data-bind="template: patientsKoTable.template")
  div.row
    div.col-md-12
      div.pull-left(data-bind="template: deletePatientBtn.template", style="margin-right: 10px; margin-bottom:10px; display:inline-block;")