div#appointmentBookingModel
  p(data-bind="text: info")
  div.form-group
    textarea.form-control(name="details", data-bind="value: details, valueUpdate: 'afterkeydown'", placeholder="Hier können Sie uns weitere Informationen zum Termin mitteilen...", rows="5")