//TRANSLATION INCOMPLETE!! MOJ-3201
div
hr
div#footer(style="margin-left:10px;margin-right:10px;")
  table
    td(align="left")
      span(style="margin-left:0px;")
        | ©
        | &nbsp;
        em
          small Doc Cirrus
    td(align="right")
      span(style="margin-right:10px;")
      small
        a(href='/impress', target='_blank') Impressum
        span &nbsp;|&nbsp;
        a(href='/static/DocCirrus/assets/docs/Datenschutz.pdf', target='_blank', title='Datenschutzerklärung der Doc Cirrus GmbH') Datenschutz
