//TRANSLATION INCOMPLETE!! MOJ-3201
#patregister
    h3.topshift Vielen Dank!
    p Ein Benutzerkonto wurde f체r Sie angelegt. Um ihr Konto zur Nutzung freizuschalten, m체ssen Sie Ihre E-Mail-Adresse best채tigen.&nbsp;
      | Sie erhalten dazu in K체rze eine Nachricht mit weiteren Anweisungen an die von Ihnen angegebene Adresse.