//TRANSLATION INCOMPLETE!! MOJ-3201
div(style="width:80%;")#time.topshift
  h3#waitText Meine Wartezeit
  p#subtext Nach Eingabe Ihrer Praxis-ID und Wartenummer sehen Sie Ihre persönliche Wartezeit.
  p#lastrefresh Auf Wunsch zusätzlich Benachrichtigung vor dem Termin.


