div#divPubReceiptdatePicker
  div.row
    div.col
      .date-picker.input-group.date
        input.form-control(name="timestamp", type="text", data-bind="datetimepicker: { value: timestamp }, attr: { placeholder: placeholderTimestampI18n }")#txtDateValue
    div(style="height: 250px;")
