div#divEnvelopeModal(data-bind="notifyBind: { method: 'templateReady', namespace: $data }")
  div(style="overflow-x: none;")#divEnvelopeScroll
    table(noborder="noboder")
      tr
        td(width="950px")
          div#divEnvelopeFormContainer
        td(width="30px")