div.formDebugContainer
  h4 Dependencies
  div#divDebugDeps

  h4 History
  div#divDebugHistory

  h4 Media (as dataUrl)
  div#divDebugMediaTxt

  h4 Media (as native binary)
  div#divDebugMediaBin

  h4 Structure
  div#divDebugSerialized
