div
  div.row
     div.form-group
        input#txtFilter.form-control(data-bind="attr: { placeholder: filterListI18n }")

  div.row
    span(data-bind="text: dragAndDropI18n")
    div.formprinters-h-scroll#divFormAssignments