div#divPrintKoTable
  table(noborder="noborder",width="100%")
    td(valign="top",width="50px")
      img(src="/static/DocCirrus/assets/images/ajax-loader.gif")
    td(valign="top")
      div#divKOTableRenderProgressBar
        div.progress(style="margin-top: 8px;")
          div.progress-bar(data-bind="style: { width: pdfProgress }",style="padding-left: 8px; text-align: left;", role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100")#divKoPdfProgressReportPDF

      span(data-bind="text: caption")