.licenseLogo-inTime span {
    color: #1AB9E8;
    font-size: 49px;
    vertical-align: middle;
}
.licenseLogo-inForm span {
    color: #64AF32;
    font-size: 49px;
    vertical-align: middle;
}
.licenseLogo-inVoice span {
    color: #009F99;
    font-size: 49px;
    vertical-align: middle;
}
.licenseLogo-inPort span {
    color: #7B788E;
    font-size: 49px;
    vertical-align: middle;
}
.licenseLogo-inSight span {
    color: #EE7F11;
    font-size: 49px;
    vertical-align: middle;
}