div.form-group
    strong(data-bind="text: dmpCurrentTreatmentStatus.i18n")
    span(data-bind="dmpField: { field: dmpCurrentTreatmentStatus }")
    div(data-bind="foreach: dmpCurrentTreatmentStatus.list, hasFeedback: { field: dmpCurrentTreatmentStatus, toggle: dmpCurrentTreatmentStatus.hasError, messages: dmpCurrentTreatmentStatus.validationMessages }")
        label.radio-inline
            span(data-bind="text: i18n")
            input(type="radio", name="dmpCurrentTreatmentStatus", data-bind="value: val, checked: $parent.dmpCurrentTreatmentStatus, readOnly: $parent.dmpCurrentTreatmentStatus.readOnly, attr: { name: $element.name + '-' + val }")