tr.KoTableHeader-row.KoTableHeader-row-label(data-bind="foreach: owner.columns")
  th.KoTableHeader-cell(data-bind=" visible: visible, css: { 'KoTableColumn-isInSorters': isInSorters() }, template: $data.template")