span.KoTableCellDrag(data-bind="css: { 'KoTableCellDrag-isDraggable': col.owner._isRowDraggable( $context.$parentContext.$parentContext ) }")
  span.fa.fa-ellipsis-v
  span.fa.fa-ellipsis-v(style="margin-left: 1px")