#tab_requests_overview.panel-with-table
    #requestsTable(data-bind="template: requestsTable.template")
    div.row
        div.col-md-12.table-buttons-stack
            //span(data-bind="template: generateTestData.template")