h4
  span(data-bind="text: extendedSettingsFormValidationI18n")
  i.dc-info-icon(data-bind="click: onTipLinkClick")

div.panel.panel-default
  div.panel-body

    .row
      .col-md-4

                div.form-group
                    div.checkbox
                        label.control-label
                            input(type="checkbox", data-bind="checked: incaseconfiguration.validatePREASSISTIVE")
                            strong(data-bind="text: extendedSettingsValidatePreassistiveI18n")
                div.form-group
                    div.checkbox
                        label.control-label
                            input(type="checkbox", data-bind="checked: incaseconfiguration.validatePUBPRESCR")
                            strong(data-bind="text: extendedSettingsValidatePubPrescrI18n")
                div.form-group
                    div.checkbox
                        label.control-label
                            input(type="checkbox", data-bind="checked: incaseconfiguration.validatePRIVPRESCR")
                            strong(data-bind="text: extendedSettingsValidatePrivPrescrI18n")
                div.form-group
                    div.checkbox
                        label.control-label
                            input(type="checkbox", data-bind="checked: incaseconfiguration.validatePRESCRBTM")
                            strong(data-bind="text: extendedSettingsValidatePrescRBTMI18n")

      .col-md-4

                div.form-group
                    div.checkbox
                        label.control-label
                            input(type="checkbox", data-bind="checked: incaseconfiguration.validatePRESCRG")
                            strong(data-bind="text: extendedSettingsValidatePrescRGI18n")
                div.form-group
                    div.checkbox
                        label.control-label
                            input(type="checkbox", data-bind="checked: incaseconfiguration.validatePRESCRT")
                            strong(data-bind="text: extendedSettingsValidatePrescRTI18n")
                div.form-group
                    div.checkbox
                        label.control-label
                            input(type="checkbox", data-bind="checked: incaseconfiguration.validateDOCLETTER")
                            strong(data-bind="text: extendedSettingsValidateDocLetterI18n")
                div.form-group
                    div.checkbox
                        label.control-label
                            input(type="checkbox", data-bind="checked: incaseconfiguration.validateQUOTATION")
                            strong(data-bind="text: extendedSettingsValidateQuotationI18n")

      .col-md-4

                div.form-group
                    div.checkbox
                        label.control-label
                            input(type="checkbox", data-bind="checked: incaseconfiguration.validatePUBRECEIPT")
                            strong(data-bind="text: extendedSettingsValidatePubReceiptI18n")
                div.form-group
                    div.checkbox
                        label.control-label
                            input(type="checkbox", data-bind="checked: incaseconfiguration.validateLABREQUEST")
                            strong(data-bind="text: extendedSettingsValidateAbRequestI18n")
                div.form-group
                    div.checkbox
                        label.control-label
                            input(type="checkbox", data-bind="checked: incaseconfiguration.validateAU")
                            strong(data-bind="text: extendedSettingsValidateAUI18n")
                div.form-group
                    div.checkbox
                        label.control-label
                            input(type="checkbox", data-bind="checked: incaseconfiguration.validateREFERRAL")
                            strong(data-bind="text: extendedSettingsValidateReferalI18n")
