div.container.container-fullscreen
    div.row
        div#medDataLabDataTagOverviewTable(data-bind="template: medDataLabDataOverviewTable.template")
        div.dc-action-buttons.dc-action-buttons-left
          span(data-bind="template: labDataButton.template")
          span(data-bind="template: medDataButton.template")