br
br
.container.container-fullscreen.content(id=mojit_view_id)

  h3 Batch PDF Example / Using wrapper to create PUBRECEIPTS as we do

  p Please substitutue patient and TREATMENT activity _ids matching your client

  div#divBatchConfig
    textarea.form-control(rows="10")#taExampleData
    button.btn#btnTestBatchPDF Make Batch / Zip
    button.btn#btnTestPRBatchPDF Make PUBRECEIPT Batch / Zip

  div#divSpacer
        br
        br
        br
        br
        br
        br
        br
        br
        br

  div#divFormRender
  div#divPDFRender

