//TRANSLATION INCOMPLETE!! MOJ-3201
.row
  .col-sm-12
    h3= title
  .col-sm-12.embed-responsive
    video(height="100%", width="100%", src=src, controls)
  .col-sm-12.alert.alert-danger.mediapreview-errorpanel Das Abspielen ist in ihrem Browser nicht möglich. Bitte laden Sie das Video herunter.
  .col-sm-12
    a(href=src, download=title) herunterladen
