br
br
.container.container-fullscreen.content(id=mojit_view_id)

div.container.container-fullscreen.dc_container.dc_shift_top
    .hero-unit.dc_hero-unit
        .row-fluid

            h1 Testing Mojit

            div#divSampleBox
                p Current test, demos and experiments.

                a(href="/formsbindingtest") Example embedded form bound to data
                br
                a(href="/formstest") Example embedded form as paged questionnaire
                br
                a(href="/subformsbindingtest") Example of mapping into a subform
                br
                a(href="/xsstest") XSS test runner
                br
