div.activityCaseFileButtonsViewModel(data-bind="notifyBind: { method: 'templateReady' }, css: manageContainerClasses")
  div.btn-group.btn-group-justified
    // ko foreach: buttons
    // ko template: template
    // /ko
    // /ko