div.form-group.activityActionButtonsViewModel(data-bind="notifyBind: { method: 'templateReady', namespace: $data }, css: manageContainerClasses")
  div.btn-group.btn-group-justified(data-bind="foreach: buttons")
    // ko if: visible
    div.btn-group
      button.btn.btn-primary(type="button", data-bind="click: click, disable: disabled, text: text, attr: { name: name }")
    // /ko
