script(type="text/html", id="activityPatientInfoViewModel")
  include activityPatientInfoViewModel
script(type="text/html", id="activityDetailsViewModel")
  include activityDetailsViewModel
script(type="text/html", id="activityCaseFileButtonsViewModel")
  include activityCaseFileButtonsViewModel
script(type="text/html", id="activityCaseFileButtonsViewModel-button")
  include activityCaseFileButtonsViewModel-button
script(type="text/html", id="activityCaseFileButtonsViewModel-buttonMenu")
  include activityCaseFileButtonsViewModel-buttonMenu
script(type="text/html", id="activityCaseFileButtonsViewModel-divider")
  include activityCaseFileButtonsViewModel-divider
script(type="text/html", id="activityCaseFileButtonsViewModel-menuItem")
  include activityCaseFileButtonsViewModel-menuItem
script(type="text/html", id="activityCaseFileButtonsViewModel-menuItemSubMenu")
  include activityCaseFileButtonsViewModel-menuItemSubMenu
script(type="text/html", id="activityActionButtonsViewModel")
  include activityActionButtonsViewModel
script(type="text/html", id="activityConfigurableActionButtonsViewModel")
  include activityConfigurableActionButtonsViewModel
script(type="text/html", id="activityHeadingViewModel")
  include activityHeadingViewModel
script(type="text/html", id="activityHeadingButtonsViewModel")
  include activityHeadingButtonsViewModel
script(type="text/html", id="activitySidebarViewModel")
  include activitySidebarViewModel
script(type="text/html", id="mirrorActivitySidebarViewModel")
  include ../../../MirrorPatientMojit/views/CaseFileViewModel/mirrorActivitySidebarViewModel
script(type="text/html", id="activityCreateButtonsViewModel")
  include activityCreateButtonsViewModel
script(type="text/html", id="activitySequenceViewModel")
  include activitySequenceViewModel
script(type="text/html", id="activityHouseCatalogViewModel")
  include activityHouseCatalogViewModel
script(type="text/html", id="activityDocTreeViewModel")
  include activityDocTreeViewModel

script(type="text/html", id="fineViewModel")
  include ../../../MediaMojit/views/controls/FineViewModel

include activitySection/include