include DMP/Dmp-mixin

- var dmpMedHint = 'Bitte machen Sie zu jedem Medikament eine Angabe. Bitte machen Sie bei einem „nein“ - wo möglich - zusätzlich eine Angabe, wenn die Nicht-Verordnung auf eine Kontraindikation gegen die Gabe des jeweiligen Medikamentes zurückzuführen ist. Diese Angabe ist für die Qualitätssicherung notwendig.<br>Die Angaben können - je nach Praxissoftware - direkt aus der Vordokumentation übernommen werden. Sie müssen dazu die Übernahme der vorherigen Angaben bestätigen.';

include DMP/DmpGeneral
+DmpFieldset('anamnesisAndFindingLabelI18n')
  include DMP/anamnesisAndFinding/DmpAnamnesisAndFinding
  hr
  include DMP/anamnesisAndFinding/DmpDm12HistoryFinding
+DmpFieldset('relevantEventsLabelI18n')
  include DMP/relevantEvents/dmpEvents
  // ko if: isFollowing
  include DMP/relevantEvents/dmpHadHypoglycaemic
  include DMP/relevantEvents/dmpHadStationaryTreatment
  include DMP/relevantEvents/dmpHadHospitalStayHbA1c
  // /ko
+DmpFieldset('medicationLabelI18n', dmpMedHint)
  include DMP/medication/dmpAntiplatelet
  include DMP/medication/dmpBetaBlocker
  include DMP/medication/dmpACE
  include DMP/medication/dmpHMG
  include DMP/medication/dmpTHIA
+DmpFieldset('trainingLabelI18n')
  include DMP/training/dmpRecommendedDmTrainings
  // ko if: isFollowing
  include DMP/training/dmpPerceivedDiabetesTraining
  include DMP/training/dmpPerceivedHypertensionTraining
  // /ko
+DmpFieldset('treatmentPlanningLabelI18n')
  div.row
    div.col-xs-6
      include DMP/treatmentPlanning/dmpHbA1cTargetValue
      include DMP/treatmentPlanning/dmpTreatmentAtDiabeticFootInstitution
      include DMP/treatmentPlanning/dmpDiabetesRelatedHospitalization
      // ko if: isFollowing
      include DMP/treatmentPlanning/dmpOpthRetinalExam
      // /ko
    div.col-xs-6
      include DMP/treatmentPlanning/dmpPatientWantsInfos
      include DMP/treatmentPlanning/dmpDocumentationInterval