script(type="text/html", id="AT-Tonometry")
  include Tonometry
script(type="text/html", id="AT-Refraction")
  include Refraction
script(type="text/html", id="AT-Schein")
  include Schein
script(type="text/html", id="AT-SimpleActivity")
  include SimpleActivity
script(type="text/html", id="AT-Finding")
  include Finding
script(type="text/html", id="AT-Treatment")
  include Treatment
script(type="text/html", id="AT-TreatmentCh")
  include TreatmentCh
script(type="text/html", id="AT-InvoiceCh")
  include InvoiceCh
script(type="text/html", id="AT-FromPatient")
  include FromPatient
script(type="text/html", id="AT-GKVSchein")
  include GKVSchein
script(type="text/html", id="AT-PKVSchein")
  include PKVSchein
script(type="text/html", id="AT-AMTSSchein")
  include AMTSSchein
script(type="text/html", id="AT-BGSchein")
  include BGSchein
script(type="text/html", id="AT-Diagnosis")
  include Diagnosis
script(type="text/html", id="AT-DiagnosisCh")
  include DiagnosisCh
script(type="text/html", id="AT-Medication")
  include Medication
script(type="text/html", id="AT-MedicationCh")
  include MedicationCh
script(type="text/html", id="AT-Observation")
  include Observation
script(type="text/html", id="AT-Utility")
  include Utility
script(type="text/html", id="AT-KBVUtility")
  include KBVUtility
script(type="text/html", id="AT-KBVUtility2")
  include KBVUtility2
script(type="text/html", id="AT-KBVUtility2Approval")
  include KBVUtility2Approval
script(type="text/html", id="AT-Assistive")
  include Assistive
script(type="text/html", id="AT-Au")
  include Au
script(type="text/html", id="AT-AuCh")
  include AuCh
script(type="text/html", id="AT-Referral")
  include Referral
script(type="text/html", id="AT-ReferralCh")
  include ReferralCh
script(type="text/html", id="AT-LabData")
  include LabData
script(type="text/html", id="AT-LabRequest")
  include LabRequest
script(type="text/html", id="AT-CatalogTable")
  include CatalogTable
script(type="text/html", id="AT-DataVisualisationTable")
  include DataVisualisationTable
script(type="text/html", id="AT-LabdataTable")
  include LabdataTable
script(type="text/html", id="AT-QuotationTreatmentsTableEditorModel")
  include QuotationTreatmentsTableEditorModel
script(type="text/html", id="AT-EhksND")
  include EhksND
script(type="text/html", id="AT-EhksD")
  include EhksD
script(type="text/html", id="AT-DmpDm1")
  include DmpDm1
script(type="text/html", id="AT-DmpDm2")
  include DmpDm2
script(type="text/html", id="AT-DmpBk")
  include DmpBk
script(type="text/html", id="AT-DmpHgv")
  include DmpHgv
script(type="text/html", id="AT-DmpZervixZytologie")
  include DmpZervixZytologie
script(type="text/html", id="AT-DmpKhk")
  include DmpKhk
script(type="text/html", id="AT-DmpAsthma")
  include DmpAsthma
script(type="text/html", id="AT-DmpCopd")
  include DmpCopd
script(type="text/html", id="AT-Cave")
  include Cave
script(type="text/html", id="AT-Receipt")
  include Receipt
script(type="text/html", id="AT-MedicationPlan")
  include MedicationPlan
script(type="text/html", id="AT-KBVMedicationPlan")
  include KBVMedicationPlan
script(type="text/html", id="AT-History")
  include History
script(type="text/html", id="AT-Measurement")
  include Measurement
script(type="text/html", id="AT-Process")
  include Process
script(type="text/html", id="AT-HealthSurvey")
  include HealthSurvey
script(type="text/html", id="AT-Surgery")
  include Surgery
script(type="text/html", id="AT-MedData")
  include MedData
script(type="text/html", id="AT-MedDataTable")
  include MedDataTable
script(type="text/html", id="AT-Gravidogramm")
  include Gravidogramm
script(type="text/html", id="AT-GravidogrammProcess")
  include GravidogrammProcess
script(type="text/html", id="AT-CheckupPlan")
  include CheckupPlan
script(type="text/html", id="AT-QDocu")
  include QDocu
script(type="text/html", id="AT-PercentileCurve")
  include PercentileCurve
