.row
  .col-md-12
    #medDataEditableTable(data-bind="template: medDataEditableTable.template")

div.row
  div.col-md-12
    b(data-bind="text: notesI18n")
    div.form-group
      textarea.form-control(name="userContent", data-bind="caretPosition: userContent.caretPosition, attr:{rows: '10'}, value: userContent, valueUpdate: 'afterkeydown', readOnly: userContent.readOnly")
