div
  div.col-xs-12
   div.form-group
      textarea.form-control(name="diagnosesText", rows="6", data-bind="value: diagnosesText, readOnly: diagnosesText.readOnly, event: { focus: onDocTreeFocus, blur: onDocTreeBlur }, caretPosition: diagnosesText.caretPosition")

