script(type="text/html", id="activityPatientInfoViewModel")
  include mirrorActivityPatientInfoViewModel
script(type="text/html", id="mirrorActivityDetailsViewModel")
  include mirrorActivityDetailsViewModel
script(type="text/html", id="mirrorActivityCaseFileButtonsViewModel")
  include mirrorActivityCaseFileButtonsViewModel
script(type="text/html", id="activityCaseFileButtonsViewModel-button")
  include ../../../InCaseMojit/views/CaseFileViewModel/activityCaseFileButtonsViewModel-button
script(type="text/html", id="activityCaseFileButtonsViewModel-buttonMenu")
  include ../../../InCaseMojit/views/CaseFileViewModel/activityCaseFileButtonsViewModel-buttonMenu
script(type="text/html", id="activityCaseFileButtonsViewModel-divider")
  include ../../../InCaseMojit/views/CaseFileViewModel/activityCaseFileButtonsViewModel-divider
script(type="text/html", id="activityCaseFileButtonsViewModel-menuItem")
  include ../../../InCaseMojit/views/CaseFileViewModel/activityCaseFileButtonsViewModel-menuItem
script(type="text/html", id="activityCaseFileButtonsViewModel-menuItemSubMenu")
  include ../../../InCaseMojit/views/CaseFileViewModel/activityCaseFileButtonsViewModel-menuItemSubMenu
script(type="text/html", id="activityActionButtonsViewModel")
  include mirrorActivityActionButtonsViewModel
script(type="text/html", id="activityHeadingViewModel")
  include ../../../InCaseMojit/views/CaseFileViewModel/activityHeadingViewModel
script(type="text/html", id="activityHeadingButtonsViewModel")
  include ../../../InCaseMojit/views/CaseFileViewModel/activityHeadingButtonsViewModel
script(type="text/html", id="mirrorActivitySidebarViewModel")
  include mirrorActivitySidebarViewModel
script(type="text/html", id="activityCreateButtonsViewModel")
  include ../../../InCaseMojit/views/CaseFileViewModel/activityCreateButtonsViewModel
script(type="text/html", id="activityHouseCatalogViewModel")
  include ../../../InCaseMojit/views/CaseFileViewModel/activityHouseCatalogViewModel
script(type="text/html", id="activityDocTreeViewModel")
  include ../../../InCaseMojit/views/CaseFileViewModel/activityDocTreeViewModel

script(type="text/html", id="fineViewModel")
  include ../../../MediaMojit/views/controls/FineViewModel

include ../../../InCaseMojit/views/CaseFileViewModel/activitySection/include