div#divFormEdit
  div(data-bind="notifyBind: { method: 'templateReady', namespace: $data }")
    div(style="display: none;")#divFormMissing
    div(style="display: table-caption;")#divFormsComposeModal
