script(type="text/html", id="ActivitySectionDocumentViewModel")
  include ActivitySectionDocumentViewModel
script(type="text/html", id="ActivitySectionFormTreeViewModel")
  include ActivitySectionFormTreeViewModel
script(type="text/html", id="ActivitySectionPDFViewModel")
  include ActivitySectionPDFViewModel
script(type="text/html", id="ActivitySectionFormViewModel")
  include ActivitySectionFormViewModel
script(type="text/html", id="ActivitySectionTableViewModel")
  include ActivitySectionTableViewModel
script(type="text/html", id="ActivitySectionTextViewModel")
  include ActivitySectionTextViewModel
script(type="text/html", id="ActivitySectionViewModel")
  include ActivitySectionViewModel
script(type="text/html", id="ActivitySectionDynamicTabViewModel")
  include ActivitySectionDynamicTabViewModel
include editors/include