span.KoTableUsageConfiguration(data-bind="visible: visible, attr: { name: name }")
  span.KoTableUsageConfiguration-label Filter:
  span.KoTableUsageConfiguration-input
    span.form-inline
      span(data-bind="template: entryList.template")
  span.KoTableUsageConfiguration-actions
    span.btn-group.btn-group-sm
      span.btn-group(data-bind="template: entryAdd.template")
      span.btn-group(data-bind="template: entryEdit.template")
      span.btn-group
        button.btn.btn-default.btn-sm(type="button", name="KoTableUsageConfigurationShortcutsVisibleSwitcherClickHandler", data-bind="click: usageShortcutsVisibleSwitcherClickHandler, attr: { title: i18n( 'KoUI.KoTableUsageConfiguration.KoTableUsageConfigurationShortcutsVisibleSwitcherClickHandler.title' )}")
          span(style="display: inline-block; transform: rotate(90deg);")
            span.fa.fa-long-arrow-up
            span.fa.fa-long-arrow-down