div.KoTableColumn-label-container
  // ko if: Boolean(rendererHeader)
  span.KoTableColumn-label(data-bind="html: doRenderHeader($data), attr: { title: title }")
  // /ko
  // ko ifnot: Boolean(rendererHeader)
  span.KoTableColumn-label(data-bind="text: label, attr: { title: title }")
  // /ko

  //ko if: hasTools
  include KoTableColumnTools
  span &nbsp;
  // /ko

  span(data-bind="visible: showFilterConfig",style="float: right;")
    span(data-bind="template: filterOptionsMenu.template")
