span.KoTableColumnCheckbox(data-bind="css: {'selectedRowChecked': allToggled }")
  input(type="checkbox", name="allToggled", data-bind="checked: allToggled, visible: allToggleVisible, attr: {title: title}")