input.KoTableCellField(type="checkbox", data-bind="click: $parent.checkRow, disable: $parent.isRowDisabledByMeta($data), checked: $parent.isRowChecked($data), css: {'selectedRowChecked': $parent.isRowChecked($data)}")
