div.KoTableUsageConfigurationDialog
  table.table
    thead
      tr
        th
        th(data-bind="text: i18n('KoUI.KoTableUsageConfiguration.KoTableUsageConfigurationDialog.VISIBLE')")
        th(data-bind="text: i18n('KoUI.KoTableUsageConfiguration.KoTableUsageConfigurationDialog.DESIGNATION')")
        th(data-bind="text: i18n('KoUI.KoTableUsageConfiguration.KoTableUsageConfigurationDialog.DESCRIPTION')")
        th(data-bind="text: i18n('KoUI.KoTableUsageConfiguration.KoTableUsageConfigurationDialog.ACTION')")
    tbody(data-bind="foreach: usageConfigurationItems")
      tr
        td
          span.KoTableUsageConfigurationDialog-dragHandle(style="display: inline-block; width: 10px; margin-top: 4px; cursor: ns-resize; color: #ccc;")
            span.fa.fa-ellipsis-v
            span.fa.fa-ellipsis-v(style="margin-left: 1px")
        td.text-center
          input(type="checkbox", data-bind="checked: shortcutVisible")
        td(data-bind="css: { 'has-error': $parent.hasErrorName( name ) }")
          input.form-control(type="text", data-bind="value: name, hasFocus: $parent.hasFocus($data)")
        td
          input.form-control(type="text", data-bind="value: shortcutDescription")
        td
          button.btn.btn-default(type="button", data-bind="click: $parent.remove")
            span.fa.fa-trash