div.WareHouseViewModel
  div.col-xs-12.col-sm-12.col-md-12
    div.dc-action-buttons.dc-action-buttons-top.dc-action-buttons-left.clearfix
        button.btn.btn-primary(type="button", data-bind="click: showMedIndexDialog")
          i.fa.fa-search(aria-hidden='true', style="margin-right: 4px;")
          span(data-bind="text: medindexButtonI18n")
        button#btn_it_dialog.btn.btn-primary(type="button",  data-bind="click: showNewItemDialog, text: createManuallyButtonI18n")
        button.btn.btn-primary(type="button", data-bind="click: $parent.createStockList, enable: $parent.enableStocklistButton, text: createStockListButtonI18n")
  div.row.col-xs-12.col-sm-12.col-md-12
    .col-xs-6.col-sm-6.col-md-6
       div(data-bind="template: advancedFilter.template")
  div.row.col-xs-12.col-sm-12.col-md-12
    div.col-md-12(data-bind="css: {'col-md-6': displayDetails}")
      div(data-bind="template: wareHouseTable.template")
    div.col-xs-6.col-sm-6.col-md-6(data-bind="if: displayDetails")
      div(data-bind="if: selectedItem")
        div(data-bind="with: selectedItem")
          .panel.panel-default
            .panel-heading
              .panel-title(data-bind="text: selectedArticle")
            .panel-body
              div(data-bind="template: template")
            div.panel-footer
              div.row
                div.col-md-12
                  button.pull-right.btn.btn-primary(type="button", style="margin-right: 4px;", data-bind="click: $parent.updateRecord.bind( $parent ), enable: $parent.enableSaveButton, text: $parent.buttonSaveI18n")
                  button.pull-right.btn.btn-default(type="button", style="margin-right: 4px;", data-bind="click: $parent.cancelEdit.bind( $parent ), enable: $parent.enableSaveButton, text: $parent.buttonCancelI18n")
                  button.pull-right.btn.btn-default(type="button", style="margin-right: 4px;", data-bind="click: $parent.deleteRecord.bind( $parent ), text: $parent.buttonDeleteI18n")
            script(type="text/html", id="WareHouseAdvancedFilterViewModel")
              include WareHouseAdvancedFilterViewModel
            script(type="text/html", id="SelectedWareHouseItemViewModel")
              include SelectedWareHouseItemViewModel
