table.KoToolbar
  tbody
    tr
      td.KoToolbar-items-leftAligned(data-bind="template: $data.leftAligned.template")
      td.KoToolbar-items-rightAligned(data-bind="template: $data.rightAligned.template")
