div(id=mojit_view_id)
  .container.container-fullscreen(style="position: relative; padding-top: 10px")
    h1(data-bind="text: tableTitle")
    div#appTokenTable(data-bind="template: appTokenTable.template")
    div
      span(data-bind="template: createBtn.template", style="margin-right: 10px")
      span(data-bind="template: deleteBtn.template", style="margin-right: 10px")
  // ko if: displayAppLicenseSerialsTokenSection
  .container.container-fullscreen(style="margin-top: 20px")
    .panel.panel-default
      .panel-body
        .row
          .col-md-12(style="padding: 10px")
            span(data-bind="text: appLicenseSerialsTokenExplanationI18n")
            // ko if: appLicenseSerialsTokenLoading
            .text-center
              img(src="/static/DocCirrus/assets/images/ajax-loader.gif")
            // /ko
            // ko ifnot: appLicenseSerialsTokenLoading
            textarea(
              data-bind="text: appLicenseSerialsTokenI18n",
              readonly,
              rows=1,
              style="font-weight: 700; margin-left: 10px; padding: 10px; position: absolute; bottom: 0; border: none; width: 36em;"
            )
            // /ko
  // /ko
