div.form-group
  div(data-bind="hasFeedback: { field: dmpHadStationaryTreatment, toggle: dmpHadStationaryTreatment.hasError, messages: dmpHadStationaryTreatment.validationMessages }")
    label.control-label(data-bind="text: dmpHadStationaryTreatment.i18n")
    span(data-bind="dmpField: { field: dmpHadStationaryTreatment }")
    div.row
      div.col-xs-1
        input.form-control(name="dmpHadStationaryTreatment", type="text", data-bind="value: dmpHadStationaryTreatmentString, readOnly: dmpHadStationaryTreatment.readOnly")
      div.col-xs-11.form-horizontal
        p.form-control-static(data-bind="text: dmpHadStationaryTreatmentUnitLabelI18n")