div#presenceList
  h4(data-bind="text: titleI18n")
  div.row
    div.col-xs-4.col-md-2
      div.form-group
        div.checkbox
          label.control-label
            span(data-bind="text: internalI18n")
            input(type="checkbox", data-bind="checked: internalChecked")
    div.col-xs-4.col-md-2
      div.form-group
        div.checkbox
          label.control-label
            span(data-bind="text: partnersI18n")
            input(type="checkbox", data-bind="checked: partnerChecked")
    div.col-xs-4.col-md-2
      div.form-group
        div.checkbox
          label.control-label
            span(data-bind="text: patientsI18n")
            input(type="checkbox", data-bind="checked: patientChecked")
    div.col-xs-4.col-md-2
      div.form-group
        div.checkbox
          label.control-label
            span(data-bind="text: othersI18n")
            input(type="checkbox", data-bind="checked: otherChecked")

  div.row
    div.col-xs-12(data-bind="template: presenceKoTable.template")
  div.row
    div.col-xs-12(data-bind="visible: inTouchLicensed")
      div.pull-right(data-bind="template: audioCall.template", style="margin-right: 10px; margin-bottom:10px; display:inline-block;")
      div.pull-right(data-bind="template: videoCall.template", style="margin-right: 10px; margin-bottom:10px; display:inline-block;")