.container.container-fullscreen
  .row
    .col-xs-10.col-xs-offset-1
      .jumbotron(style="margin-top:50px; border-radius: 30px")
        .row
          .col-xs-2
            div(style="margin-top:30px;")
              a(href="/")
                img(src='/static/DocCirrus/assets/images/webrtc-logo.png', width="100%", alt="WEBRTC logo")
          .col-xs-6
            h3=noteI18n
            p=text1I18n
            p=text2I18n
          .col-xs-4
            h3=installNowI18n
            ul(style="font-size:1.3em")
              li
                a(href="https://www.google.de/intl/de/chrome/browser/") Google Chrome
              li
                a(href="https://www.mozilla.org/de/firefox/new/") Mozilla Firefox
              li
                a(href="#") Android Standard
