form
    .form-group(data-bind="hasFeedback: { field: value, toggle: value.hasError, messages: value.validationMessages }")
        label(for="value", data-bind="text: labelNameI18n")
        input(data-bind="value: value, valueUpdate: 'afterkeydown', attr: { placeholder: roleNamePlaceholderI18n }" type="text" class="form-control" id="value", name="value")
    .form-group
        label(for="roleDescription", data-bind="text: labelDescriptionI18n")
        textarea(data-bind="value: description" class="form-control" rows="2" id="roleDescription")
