div.form-group
  strong(data-bind="text: dmpAnginaPectoris.i18n")
  span(data-bind="dmpField: { field: dmpAnginaPectoris }")
  div(data-bind="foreach: dmpAnginaPectoris.list, hasFeedback: { field: dmpAnginaPectoris, toggle: dmpAnginaPectoris.hasError, messages: dmpAnginaPectoris.validationMessages }")
    label.radio-inline
      span(data-bind="text: i18n")
      input(type="radio", name="dmpAnginaPectoris", data-bind="value: val, checked: $parent.dmpAnginaPectoris, readOnly: $parent.dmpAnginaPectoris.readOnly")