div.form-group
  strong(data-bind="Text: dmpSerumElectrolytes.i18n")
  span(data-bind="dmpField: { field: dmpSerumElectrolytes }")
  div(data-bind="foreach: dmpSerumElectrolytes.list, hasFeedback: { field: dmpSerumElectrolytes, toggle: dmpSerumElectrolytes.hasError, messages: dmpSerumElectrolytes.validationMessages }")
    label.radio-inline
      span(data-bind="text: i18n")
      input(type="radio", name="dmpSerumElectrolytes", data-bind="value: val, checked: $parent.dmpSerumElectrolytes, readOnly: $parent.dmpSerumElectrolytes.readOnly")